/* Paragraph Font */
p {  
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 10px 0 10px 0;
}

/* Body Font */
body {
	margin: 5px;
	padding: 10px;
	background-color: white;
}

/* Page Title Font */
.pageTitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	margin: 10px;
	background-color: white;
}

/* Navbar Font */
#navbarID {

	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	border-style: none;
	justify-content: space-between;
	word-wrap: normal;
	
}

.navbarItem {

	font-size: 22px;
	padding-left: 30px;
	padding-right: 30px;

}

/* About Page Styles */
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
  }
  
  html {
	box-sizing: border-box;
  }
  
  *, *:before, *:after {
	box-sizing: inherit;
  }
  
  .column {
	float: left;
	width: 25%;
	margin-bottom: 16px;
	padding: 0 8px;
  }
  
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 8px;
  }
  
  .about-section {
	padding: 50px;
	text-align: center;
	background-color: #474e5d;
	color: white;
	width: 70%;
	height: 430px;
	margin: 40px auto;
	border-radius: 25px;
  }
  
  .container {
	padding: 0 16px;
  }
  
  .container::after, .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .title {
	color: grey;
  }
  
  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
  }

/* stylization for Image Slideshow */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
/*put next button on the right*/
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.number {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
  }

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* END stylization for Image Slideshow */

/* Hover */

.hover div{
	position: absolute;
	top: 200px;
	width: 100%;
	right: 0;
	background: black;
	color: white;
	margin-bottom: 5px;
	font-family: sans-serif;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: visibility 0s, opacity 0.5s linear; 
	transition: visibility 0s, opacity 0.5s linear;
   }
   
   .hover:hover{
	cursor: pointer;
   }
   
   .hover:hover div{
	width: 150px;
	padding: 8px 15px;
	visibility: visible;
	opacity: 0.7; 
   }


/* Resource Page */

.centerPic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.centerText {
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

.columns {
	float: left;
	width: 250px;
	padding: 8px;
}

.resources {
	list-style-type: none;
	border: 1px solid #eee;
	margin: 0;
	padding: 0;
	-webskit-transition: 0.3s;
	transition: 0.3s;
}

	.resources:hover {
		box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
	}

	.resources .resourceHeader {
		background-color: #32557f;
		color: white;
		font-size: 25px;
	}

	.resources li {
		border-bottom: 1px solid #eee;
		padding: 20px;
		text-align: center;
	}

.backgroundShape {
	display: inline-block;
	width: 75%;
	padding: 10% height: 50%;
	border: 5px solid #32557f;
	border-radius: 15px;
	background-color: #32557f;
}

.content {
	max-width: 500px;
	margin: auto;
}
